<div class="container-fluid">
  <div class="row" *ngIf="viewdata">
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{
          viewdata.id === 0
            ? 'Add New Book'
            : 'Editing Book : ' + viewdata.title
        }}
      </div>
      <div class="panel-body">
        <form #form="ngForm" class="form-horizontal" (submit)="submitForm(form)">
          <div class="form-group" [class.has-error]="titleInput.invalid && titleInput.touched">
                  <label for="title" class="col-sm-2 control-label">Title :</label>
                <div>
                  <div class="col-sm-6">
                    <input type="text" [(ngModel)]="viewdata.title" class="form-control" #titleInput="ngModel"
                    name="title" placeholder="Title" required>
                  </div>
                </div>
                <div class="col-sm-4">
                    <span class="alert alert-danger" *ngIf="titleInput.control.invalid && titleInput.control.touched">
                        <span *ngIf="titleInput.control.errors?.required">Book Title is required.</span>
                    </span>
                </div>
           </div>
           <div class="form-group" [class.has-error]="authorInput.invalid && authorInput.touched">
              <label for="title" class="col-sm-2 control-label">Author :</label>
            <div>
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="viewdata.author" class="form-control" #authorInput="ngModel"
                name="author" placeholder="Author" required>
              </div>
            </div>
            <div class="col-sm-4">
                <span class="alert alert-danger" *ngIf="authorInput.control.invalid && authorInput.control.touched">
                    <span *ngIf="authorInput.control.errors?.required">Author name is required.</span>
                </span>
            </div>
           </div>
           <div class="form-group" [class.has-error]="publishedInput.invalid && publishedInput.touched">
              <label for="title" class="col-sm-2 control-label">Published :</label>
            <div>
              <div class="col-sm-6">
                <input type="number" [(ngModel)]="viewdata.published" class="form-control" #publishedInput="ngModel"
                name="published" placeholder="published" required>
              </div>
            </div>
            <div class="col-sm-4">
                <span class="alert alert-danger" *ngIf="publishedInput.control.invalid && publishedInput.control.touched">
                    <span *ngIf="publishedInput.control.errors?.required">Published year is required.</span>
                </span>
            </div>
           </div>
           <div class="form-group" [class.has-error]="categoryInput.invalid && categoryInput.touched">
              <label for="category" class="col-sm-2 control-label">Category :</label>
            <div>
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="viewdata.category" class="form-control" #categoryInput="ngModel"
                name="category" placeholder="category" required>
              </div>
            </div>
            <div class="col-sm-4">
                <span class="alert alert-danger" *ngIf="categoryInput.control.invalid && categoryInput.control.touched">
                    <span *ngIf="categoryInput.control.errors?.required">category name is required.</span>
                </span>
            </div>
           </div>
           <div class="form-group">
               <div class="col-sm-offset-3 col-sm-10">
                 <input type="submit" class="btn btn-primary" value="Submit" />
                 <a *ngIf="viewdata.id===0" (click)="resetForm(form)"
                 class="col-sm-offset-1 btn btn-primary">Reset</a>
               </div>
           </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row btncontainer">
    <a [routerLink]="['/home']" class="btn btn-primary pull-right"
      ><i class="fa fa-chevron-left mr10"></i>Back</a
    >
  </div>
</div>
